<mat-card class="registration-card">
    <mat-card-title class="title">Register User</mat-card-title>
    <mat-card-content>
        <form (submit)="doRegistration()" class="form" [formGroup]="registrationForm">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input
                    required
                    matInput
                    placeholder="Name"
                    formControlName="username"
                />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input
                    required
                    matInput
                    placeholder="Email"
                    formControlName="emailAddress"
                />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input
                    required
                    matInput
                    placeholder="Password"
                    formControlName="password"
                />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Bio</mat-label>
                <input
                    required
                    matInput
                    placeholder="Enter Bio"
                    formControlName="bio"
                />
            </mat-form-field>
            <button id="register" mat-raised-button color="primary">Register</button>
        </form>
    </mat-card-content>
</mat-card>
